# modules
on early-init
    insmod /vendor/lib/modules/aw862xx_haptic.ko
    insmod /vendor/lib/modules/fs3xxx_haptic.ko
    insmod /vendor/lib/modules/mtk-pwm.ko
    insmod /vendor/lib/modules/mtk_irtx_pwm.ko

service vibrator-penangf /vendor/bin/hw/android.hardware.vibrator-service.mediatek
    user root
    group root
    class hal
    seclabel u:r:recovery:s0
    
on boot
    start vibrator-penangf